<!DOCTYPE html>
<html>
<head>
    <title>Weave Server.NET</title>
    <link rel="shortcut icon" href="@Url.Content("favicon.ico")" type="image/x-icon" />
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.6.4_min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/helper.js")" type="text/javascript"></script>
</head>
<body>
    <div id="wrapper">
        <div id="header">
            <div id="logo">Weave Server.NET</div>
            @if (HttpContext.Current.User.Identity.IsAuthenticated) {
                <div id="logout">
                    You are logged in as <b>@Context.User.Identity.Name</b>.&nbsp;&nbsp;@Html.ActionLink("Logout", "Logout")
                </div>
            } 
        </div>
        <div id="content">
            @RenderBody()
            <div id="dialog">
                <div id="dialogContent"></div>
            </div>
        </div>
    </div>
</body>
</html>
